{% extends "layout.html" %}

{% block title %}
    Select
{% endblock %}

{% block main %}
    {% if rows|length == 1 %}
        <div>
            <h2>Rate or Add this Movie</h2>
        </div>
    {% endif %}
    {% if rows|length != 1 %}
        <div>
            <h2>Select and Rate or Add</h2>
            <p>{{ rows|length }} Results {% if title %}for '{{ title }}'{% endif %}{% if year %} from the Year {{ year }}{% endif %}{% if director %} with the director '{{ director }}'{% endif %}. </p>
            {% if rows|length == 100 %}
                <p>Your Search was limited to 100. Please be more precise.</h2>
            {% endif %}
            <div style="padding:5px;"></div>
        </div>
    {% endif %}
    <div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th class="sort">Title<i class="fa fa-fw fa-sort"></th>
                    <th class="sort">Director<i class="fa fa-fw fa-sort"></th>
                    <th class="sort">Year<i class="fa fa-fw fa-sort"></th>
                    <th class="sort">IMDb<i class="fa fa-fw fa-sort"></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                {% set counter = row["movie_id"] %}
                {% set link = counter|string %}
                <tr>
                    <!--<td>{{ row["movie_id"] }}</td>-->
                    {% if (link|length == 7 or link|length == 8) %}
                    <td class="crop"><a class="tiptext" href="https://www.imdb.com/title/tt{{ counter }}/">{{ row["title"] }}</a></td>
                    {% endif %}
                    {% if link|length == 6 %}
                    <td class="crop"><a class="tiptext" href="https://www.imdb.com/title/tt0{{ counter }}/">{{ row["title"] }}</a></td>
                    {% endif %}
                    {% if link|length == 5 %}
                    <td class="crop"><a class="tiptext" href="https://www.imdb.com/title/tt00{{ counter }}/">{{ row["title"] }}</a></td>
                    {% endif %}
                    <td><span class="wrap-directors">{{ row["directors"] }}</span></td>
                    <td>{{ row["year"] }}</td>
                    <td>{{ row["rating"] }}</td>
                    {% if ( (row["present"] >= 1) or (row["presentwl"] >= 1) ) %}
                        <td colspan="2"><button class="btn btn-primary" href="javascript:void();" id="{{ counter }}" name="ratepopup">Update</a></button></td>
                    {% endif %}
                    {% if ( (row["present"] < 1) and (row["presentwl"] < 1) ) %}
                    <td>
                        <button class="btn btn-primary" href="javascript:void();" id="{{ counter }}" name="ratepopup">Rate</a></button>
                    </td>
                    <td>
                        <button class="btn btn-primary" href="javascript:void();" id="wl{{ counter }}" name="addwl">+ Watchlist</button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!--Creates the popup body for rating-->
    <!--<div id="popup" class="popup-overlay">-->
        <!--<div id="pop" class="popup-content">-->
    <!--        <form class="myform" action="/select" method="post">-->
    <!--            <p style="padding:10px;"></p>-->
    <!--            <h2 id="h2">Please Rate This Movie</h2>-->
    <!--            <h4 id="movie_id" style="visibility:hidden;"></h4>-->
    <!--            <input class="form-control" id="rating" name="rating" placeholder="Rating" type="number" step="0.1" min="1" max="10">-->
    <!--            <input class="form-control" name="notes" id="notes" type="text" placeholder="Notes (optional)" size="30" >-->
    <!--            <p style="padding:20px;"></p>-->
    <!--            <a class="btn btn-primary" href="javascript:void();" id=rate>Rate</a>-->
    <!--        </form>-->
            
    <!--    <button type="button" class="close" aria-label="Close">-->
    <!--      <span aria-hidden="true">&times;</span>-->
    <!--    </button>-->
      <!--</div>-->
    <!--</div>-->
    
    
{% endblock %}
